#homepage {
  background-color: #000000;
}
#nav {
  background-color: #000000;
  margin-top: 0.5cm;
}
#nav .container-fluid {
  background-color: #000000;
  position: fixed;
  top: 0;
  z-index: 1;
}
#nav img {
  width: 74px;
  height: 60px;
}
.nav-link .active {
  font-size: 25px;
}
.home img {
  width: 100%;
}
#navbar1 a {
  text-decoration: none;
  color: rgb(255, 90, 7);
  font-family: "Bruno Ace", cursive;
  margin-left: 70px;
  font-size: 25px;
}
.heading {
  text-align: center;
  font-size: 50px;
  color: rgb(255, 90, 7);
  font-family: "Belanosima", sans-serif;
}
#about {
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
}
#about img {
  float: left;
  margin-right: 0.5cm;
}
#about p {
  margin-right: 1cm;
  margin-left: 1cm;
}
#clubs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}
.club-image {
  width: 300px;
  height: 300px;
  margin-left: 2cm;
  margin-right: 1cm;
  margin-top: 2cm;
  border: 5px ridge black;
}
#gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  margin-left: 2cm;
  margin-right: 2cm;
  margin-right: 2cm;
  gap: 5cm;
}
.gallery-image {
  height: 162px;
}

#Gallery .card {
  width: 18rem;
}
#Gallery .card a {
  border: 2px solid rgb(255, 90, 7);
  color: black;
}
#Rewards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  gap: 0.22cm;
}
.card a:hover {
  background-color: rgb(255, 90, 7);
  color: white;
}

#Reward-details {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.box {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 700px;
  border: 4px ridge rgb(255, 90, 7);
  margin: 10px;
  padding: 45px;
  text-align: justify;
  border-radius: 15px;
  background: linear-gradient(to top, rgb(255, 90, 7) 50%, #000000 50%);
  background-size: 100% 200%;
  transition: all 0.8s;
}
.box img {
  width: 253px;
  height: 126px;
  margin-top: -30px;
}

.box p {
  width: 225px;
  height: 319px;
}

.box h1 {
  font-size: 23px;
}
.box:hover {
  background-position: right bottom;
  color: rgb(214, 198, 198);
  box-shadow: 0 0 20px rgb(106, 19, 83);
  border: none;
}
.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-image: var(--bs-navbar-toggler-icon-bg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-color: rgb(255, 90, 7);
}
@media (max-width: 700px) {
  #about {
    flex-direction: column;
  }
  .h2 {
    font-size: 3rem;
    margin-top: 35px;
  }
  #clubs-images {
    flex-direction: column;
  }
  #Gallery {
    flex-direction: column;
  }
  #Rewards-details {
    flex-direction: column;
  }
  .heading {
    font-size: 50px;
    color: rgb(255, 90, 7);
    font-family: "Belanosima", sans-serif;
  }
}
