/*     Home      */
#homepage {
  background-color: #000000;
}
body {
  margin: 0px;
}
/*     Home      */
/*     Nav bar      */
#nav .container-fluid {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: stretch;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #000000;
}
#nav img {
  width: 60px;
  height: 65px;
  margin-left: 10px;
}
button {
  display: none;
}
#desktop {
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  align-items: center;
}
#nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
#desktop a {
  text-decoration: none;
  color: rgb(255, 90, 7);
  font-family: "Bruno Ace", cursive;
  font-size: 25px;
}
#mobile {
  display: none;
}
#homeimage img {
  width: 100%;
  vertical-align: middle;
  margin-top: 1.4cm;
}
/*     Nav bar      */
/*     titles      */
.heading {
  margin-top: 2cm;
  text-align: center;
  font-size: 50px;
  color: rgb(255, 90, 7);
  font-family: "Belanosima", sans-serif;
}
/*     titles      */
/*     about      */
#about {
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
  font-size: 20;
}
#about img {
  float: left;
  margin-right: 0.5cm;
}
#about p {
  margin-right: 0.5cm;
  margin-left: 0.5cm;
}
#clubs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 3cm;
}
.club-image {
  width: 300px;
  height: 300px;
  border: 5px ridge black;
}
/*     about      */
/*     Gallery      */
#gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5cm;
}
#Gallery .card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  outline: 5px groove beige;
  width: 18rem;
  height: 22rem;
}

.gallery-image {
  height: 162px;
  width: 18rem;
}
#gallery .card-body {
  margin-bottom: 4rem;
  margin-left: 2rem;
}
#Gallery .card-body div {
  display: flex;
  width: 7rem;
  height: 2rem;
  outline: 2px solid rgb(255, 90, 7);
  border-radius: 0.2cm;
  align-items: center;
}
.card-body div:hover {
  background-color: rgb(255, 90, 7);
  color: white;
}
#Gallery .card a {
  font-size: 20;
  margin-left: 0.1cm;
  color: rgba(49, 46, 46, 0.734);
  text-decoration: none;
}
#gallery h5 {
  font-size: 22;
  margin-left: 0.3cm;
}
/*     Gallery      */
/*     Rewards      */
#Rewards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 0.22cm;
}

#Reward-details {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.box {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 500px;
  border: 4px ridge rgb(255, 90, 7);
  padding: 45px;
  text-align: justify;
  border-radius: 15px;
  background: linear-gradient(to top, rgb(255, 90, 7) 50%, #000000 50%);
  background-size: 100% 200%;
  transition: all 0.8s;
}
.box img {
  width: 253px;
  height: 126px;
  margin-top: -30px;
}

.box p {
  width: 225px;
  height: 319px;
}

.box h1 {
  font-size: 23px;
}
.box:hover {
  background-position: right bottom;
  color: rgb(214, 198, 198);
  box-shadow: 0 0 20px rgb(106, 19, 83);
  border: none;
}
/*     Rewards      */
@media (max-width: 700px) {
  #desktop {
    display: none;
  }
  #about {
    flex-direction: column;
  }
  .h2 {
    font-size: 3rem;
    margin-top: 35px;
  }
  #clubs-images {
    flex-direction: column;
  }
  #Gallery {
    flex-direction: column;
  }
  #Rewards-details {
    flex-direction: column;
  }
  .heading {
    margin-top: 2cm;
    font-size: 50px;
    color: rgb(255, 90, 7);
    font-family: "Belanosima", sans-serif;
  }
  .container-fluid {
    height: 70px;
    width: 700px;
  }
  #mobile {
    padding: 0;
    margin: 0;
    display: none;
    flex-basis: auto;
    flex-grow: 1;
    position: relative;
    margin-top: 205px;
    width: 700px;
    left: -70;
  }
  #mobile ul {
    display: block;
    list-style: none;
    background-color: #000000;
    width: 700px;
    justify-content: center;
  }
  #mobile a {
    text-decoration: none;
    color: rgb(255, 90, 7);
    font-family: "Bruno Ace", cursive;
    font-size: 25px;
  }
  button {
    width: 0.5px;
    height: 0.5px;
    margin-left: 75%;
    margin-bottom: 75px;
    display: block;
    position: fixed;
  }
  button img {
    height: 0.5px;
    width: 0.5px;
  }
}
